@font-face {
  src: url("../fonts/Roboto-Medium.ttf");
  font-family: Roboto-Medium; }

@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: Roboto-Regular; }

@font-face {
  src: url("../fonts/Roboto-Light.ttf");
  font-family: Roboto-Light; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #F7F7F7; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.header__top, .header__bottom {
  width: 100%;
  background-color: #F7F7F7; }

.header__bottom {
  background-color: white; }

.header__container, .header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__logo {
  width: 187px;
  height: 145px;
  position: relative;
  background-color: #74CFB7;
  cursor: pointer; }

.header__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.header__text {
  font-family: "Roboto-Light",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D;
  margin: 5px; }

.header__text--bold {
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #1F252D; }

.header__menu {
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  word-spacing: -.36em; }

.header__item {
  list-style: none;
  text-transform: uppercase;
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  padding: 26px 0; }

.header__link {
  display: inline-block;
  text-decoration: none;
  color: #404853;
  padding: 0 18px;
  transition: .3s; }

.header__link--border {
  border-right: 1px solid #E1E1E1; }

.header__item--icon {
  margin-left: 36px; }

.header__link:hover {
  opacity: 0.5; }

.header__box {
  cursor: pointer;
  width: 14px;
  height: 14px;
  background: url("../../images/search icon.png");
  transition: .3s; }

.header__box:hover {
  background: url("../../images/hover.png"); }

.btn {
  font-family: "Roboto-Regular", Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background-color: #079FC2;
  padding: 16px 50px;
  text-decoration: none;
  border-radius: 4px;
  transition: .3s; }

.btn:hover {
  background-color: #74CFB7;
  box-shadow: 0 4px 10px rgba(116, 207, 183, 0.455022); }

.promo {
  background: url("../../images/bg.png") center/cover;
  width: 100%;
  height: 419px; }

.promo__container {
  border-top: 3px solid #74CFB7;
  text-align: center; }

.promo__title {
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
  margin-top: 72px; }

.promo__search-room {
  width: 100%;
  height: 191px;
  background-color: white;
  box-shadow: 0 11px 49px rgba(0, 0, 0, 0.240178);
  border-radius: 4px;
  margin-bottom: 71px; }

.map__container {
  position: relative; }

.map__background {
  position: relative;
  width: 100%;
  height: 535px; }

.map__wrap {
  position: absolute;
  top: 81px;
  left: 130px; }

.map__inner {
  display: flex; }

.map__box {
  background-color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column; }

.map__card {
  position: relative;
  width: 507px;
  height: 373px;
  background-color: white; }

.map__card::after {
  content: '';
  position: absolute;
  right: -42px;
  top: 115px;
  border: 21px solid transparent;
  border-left: 21px solid white; }

.map__box-item {
  display: flex;
  align-items: baseline; }

.map__title {
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D;
  margin: 0; }

.map__text-heavy, .map__address, .map__subtext--heavy {
  font-family: "Roboto-Regular",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #404853;
  margin: 0 10px 0 0;
  padding: 15px 0 12px; }

.map__text-light, .map__subtext--light {
  font-family: "Roboto-Light",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #1F252D;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin: 0; }

.map__text-light--flat, .map__subtext--light {
  width: 156px; }

.map__text-light--flat, .map__text-heavy--flat {
  padding: 9px 0; }

.map__subtext--light, .map__subtext--heavy {
  padding: 5px 0; }

.map__icon {
  width: 16px;
  height: 11px;
  margin-right: 5px; }

.map__address {
  margin: 0;
  padding: 0 0 9px; }

.map__box-item--border {
  border-bottom: 1px solid #E7E7E7; }

.map__btn {
  padding: 10px 64px; }

.mt-10 {
  margin-top: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mr-15 {
  margin-right: 15px; }

.arrow {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white; }

.arrow__wrap {
  position: absolute;
  top: 45px;
  right: 45px;
  z-index: 1; }

.arrow__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 32px; }

.arrow__img--hidden {
  display: none; }

.arrow:hover .arrow__img {
  display: none; }

.arrow:hover .arrow__img--hidden {
  display: block; }

.content {
  width: 100%;
  background-color: #F7F7F7; }

.content__container {
  width: 1180px;
  height: 520px;
  display: flex;
  margin: 0 auto; }

.content__leftside {
  width: 50%; }

.content__rightside {
  width: 50%;
  position: relative;
  background: url("../../images/build1.png") center/cover; }

.content__wrap {
  display: flex;
  align-items: center; }

.content__promo {
  position: absolute;
  right: 0;
  width: 229px;
  padding: 13px 20px;
  background: #F0F0F0;
  mix-blend-mode: normal;
  opacity: 0.75;
  border-radius: 0 0 0 4px; }

.content__icon {
  width: 14px;
  height: 14px; }

.content__icon--secondary {
  width: 18px;
  height: 13px; }

.content__promo-text {
  font-family: "Roboto-Regular",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #404853; }

.content__btn {
  position: absolute;
  bottom: 33px;
  right: 190px; }

.content__leftside {
  padding: 35px 40px 40px 35px; }

.content__leftside {
  display: flex;
  flex-direction: column;
  background-color: white; }

.content__title {
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #1F252D;
  margin: 0; }

.content__text-heavy {
  font-family: "Roboto-Regular",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D; }

.content__text-light {
  font-family: "Roboto-Light",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #1F252D;
  mix-blend-mode: normal;
  opacity: 0.6; }

.content__address, .content__text-heavy {
  font-size: 14px;
  line-height: 16px; }

.content__text-light--flat {
  width: 230px; }
