.mt-10 {
  margin-top: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.pl-7 {
  padding-left: 7px;
}
.pr-18 {
  padding-right: 18px;
}
.pl-0 {
  padding-left: 0;
}
.pt-60 {
 padding-top: 60px;
}