.mt-10 {
  margin-top: 10px; }

.mt-40 {
  margin-top: 40px; }

.mb-15 {
  margin-bottom: 15px; }

.mr-15 {
  margin-right: 15px; }

.pl-7 {
  padding-left: 7px; }

.pr-18 {
  padding-right: 18px; }

.pl-0 {
  padding-left: 0; }

.pt-40 {
  padding-top: 40px; }

.pt-60 {
  padding-top: 60px; }

.pt-80 {
  padding-top: 80px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-80 {
  padding-bottom: 80px; }
