.btn {
  font-family: "Roboto-Regular", Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background-color: #74CFB7;
  padding: 16px 50px;
  text-decoration: none;
  border-radius: 4px;
  transition: .3s; }

.btn:hover {
  background-color: #079FC2;
  box-shadow: 0 4px 10px rgba(116, 207, 183, 0.455022); }
